@keyframes brilho {
  0% {
    box-shadow: 0 0 5px #DAA520;
  }
  50% {
    box-shadow: 0 0 15px #DAA520;
  }
  100% {
    box-shadow: 0 0 5px #DAA520;
  }
}

@keyframes brilhoTicket {
  0% {
    box-shadow: 0 0 5px #26da20;
  }
  50% {
    box-shadow: 0 0 10px #26da20;
  }
  100% {
    box-shadow: 0 0 5px #26da20;
  }
}

.borderAnimated {
  border: 3px solid #DAA520; 
  border-radius: 0.5rem; 
  animation: brilho 1.5s infinite; 
}

.paddingTicket {
  padding: 15px;
  margin: 20px 0;
}

.marginList {
  margin-top: 24px;
}

.borderAnimatedTicket {
  border: 1px solid #26da20; 
  border-radius: 0.5rem;
  animation: brilhoTicket 1.5s infinite; 
}

.widthCard {
    width: 19rem;
}

.heightImportantCard {
    height: 15rem;
}

.bgImage {
    background-image: url('/images/depaula-han.jpeg');
    background-position: top;
    background-size: contain;
}

.containerAboutDescription {
  margin-top: 24px;
  .paddingText {
      padding: 0px 10rem;
  }

  .marginParagraph {
    margin-left: 1rem;
  }

  .widthPremiacao {
    display: flex;
  }
}
